<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HNC-gene-database</title>
  <link href="/public/style.css" rel="stylesheet"></head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <script src="/static/main-dev.js"></script>
  <script type="text/javascript" src="/public/manifest-86bff0943054109491bd.js"></script><script type="text/javascript" src="/public/vendor-86bff0943054109491bd.js"></script><script type="text/javascript" src="/public/main-86bff0943054109491bd.js"></script></body>
</html>
