.nav {
  border-bottom: 10px solid #002766;
  padding: 10px;
  width: 100%;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.iconBtn {
  border-radius: 15px;
  max-width: 138px;
  height: 38px;
}

.btn {
  border-radius: 0;
  min-width: 80px;
  height: 30px;
  margin: 0 2px;
}

.header {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
  position: relative;
  z-index: 10;
  max-width: 100%;
}

.searchbox {
  border-left: 1px solid #ebedf0;
  float: left;
  height: 22px;
  line-height: 22px;
  padding-left: 16px;
  margin: 22px auto 0;
}

:global {
  #nav {
    border: 0;
    float: right;
    font-size: 14px;
    font-family: Lato, "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}