.menu{
  z-index: 1;
  transition: 1s;
  position: fixed;
  right: 0;
  width: 100%;
  :global{
    .ant-menu{
      float: right;
      text-transform: uppercase;
      background: transparent;
      border-bottom: 0;
      color:rgba(255,255,255,0.7);
      line-height: 64px;
    }
    .ant-menu-item-selected,
    .ant-menu-item-active,
    .ant-menu-submenu-selected,
    .ant-menu-submenu-active,
    .ant-menu-submenu-open{
      border-bottom: 2px solid white !important;
      color:white !important;
    }
    .ant-menu-submenu-title:hover{
      color:white;
    }
    .ant-menu-item-active:hover{
      background:rgba(255,255,255,0.2);
    }
  }
}

.scroll{
  z-index: 100;
  background: #921221;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}