.card{
    background-color: #fff;
    padding: .4rem .3rem .8rem;
    margin: -1.2rem auto 1.6rem auto;
    border-radius: 0.12rem;
    max-width: 1200px;
    box-shadow: 0 .1rem .1rem 0 rgba(0,0,0,.14), 0 .1rem .2rem 0 rgba(0,0,0,.12), 0 1rem 1rem -1rem rgba(0,0,0,.2);
    &>a{
        cursor: pointer;
        color: #1249A1;
        font-size: .4rem;
        :global{
            .anticon{
                margin-right: .2rem;
                font-weight: 700;
            }
        }
    }
}

.cardtitle{
    padding-left: .2rem;
    border-left: .1rem solid #1249A1;
    color: #1249A1;
    font-size: .3rem;
    margin-bottom: .3rem;
    margin-left: -.3rem;
    text-transform: capitalize;
    span{
        margin-left: .1rem;
    }
    @media screen and (max-width:600px){
        font-size: .4rem;
        margin-bottom:.4rem;
    }
}