.table {
  margin: 0 0.2rem;
  table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 0.1rem;
  }
  tr {
    &:hover {
      td {
        background: initial;
      }
    }
    &:nth-of-type(odd) {
      background-color: #f9f9f9;
    }
    td:first-child {
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  th,
  td {
    // border: 5px solid white !important; 
  }
  td.avatar {
    img {
      border-radius: 50%;
    }
  }
  :global {
    .ant-table-tbody>tr>td,
    .ant-table-thead>tr>th {
      padding: .1rem .2rem;
    }
  }
  &.motion {
    :global {
      //   .ant-table-tbody>tr>td,
      //   .ant-table-thead>tr>th {
      //     &:nth-child(1) {
      //       width: 6%;
      //     }
      //     &:nth-child(2) {
      //       width: 8%;
      //     }
      //     &:nth-child(3) {
      //       width: 8%;
      //     }
      //     &:nth-child(4) {
      //       width: 6%;
      //     }
      //     &:nth-child(5) {
      //       width: 6%;
      //     }
      //     &:nth-child(6) {
      //       width: 8%;
      //     }
      //     &:nth-child(7) {
      //       width: 16%;
      //     }
      //     &:nth-child(8) {
      //       width: 20%;
      //     }
      //     &:nth-child(9) {
      //       width: 14%;
      //     }
      //     &:nth-child(10) {
      //       width: 8%;
      //     }
      //   }
      //   .ant-table-thead {
      //     &>tr {
      //       transition: none;
      //       display: block;
      //       &>th {
      //         display: inline-flex;
      //         align-items: center;
      //         justify-content: center;
      //       }
      //     }
      //   }
      .ant-table-tbody {
        &>tr {
          transition: none;
          display: block;
          &>td {
            border-bottom: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
          &.ant-table-expanded-row-level-1>td {
            height: auto;
          }
        }
      }
    }
  }
}

.nwrap{
  table{
    table-layout: initial !important;
  }
  td{
    word-break: keep-all !important;
    white-space: nowrap !important;
  }
}