.form{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    :global{
        .ant-form-item{
            min-width: 200px;
            button{
                width:200% !important;
            }
        }
    }
}