.table {
    table {
        border-collapse: collapse;
        font-size: 0.1rem;
    }
    td:not(:first-child) {
        transition: .3s;
        text-align: center;
        &:hover {
            outline: 1px solid rgba(82, 168, 236, .8);
            outline-offset: -1px;
            cursor: pointer;
        }
    }
    th:not(:first-child) {
        height: 100px !important;
        position: relative;
        vertical-align: bottom;
        padding: 0 !important;
        font-size: 12px;
        line-height: 1.0;
        overflow: inherit !important;
        background: transparent !important;
        :global {
            .ant-table-column-sorter {
                position: absolute;
                transform: skew(45deg, 0deg);
                display: block;
                bottom: 8px;
                right: 16px;
            }
        }
    }
    th:not(:first-child)>span {
        border-top: 10px solid #fc257b;
        position: relative;
        top: 0;
        left: 50px;
        -ms-transform: skew(-45deg, 0deg);
        -moz-transform: skew(-45deg, 0deg);
        -webkit-transform: skew(-45deg, 0deg);
        -o-transform: skew(-45deg, 0deg);
        transform: skew(-45deg, 0deg);
        overflow: hidden;
        border-left: 1px solid #cccccc;
        /* border-right: 1px solid #cccccc; */
        // border-top: 1px solid #cccccc;
        height: 100px !important;
        display: block;
        &>span {
            -ms-transform: skew(45deg, 0deg) rotate(315deg);
            -moz-transform: skew(45deg, 0deg) rotate(315deg);
            -webkit-transform: skew(45deg, 0deg) rotate(315deg);
            -o-transform: skew(45deg, 0deg) rotate(315deg);
            transform: skew(45deg, 0deg) rotate(315deg);
            position: absolute;
            bottom: 95px;
            display: inline-block;
            width: 270px;
            text-overflow: ellipsis;
            left: -120px;
        }
    } // th:first-child>span{
    //     border:0;
    //     position: relative;
    //     top: 0;
    //     left: 50px;
    //     -ms-transform: skew(-45deg, 0deg);
    //     -moz-transform: skew(-45deg, 0deg);
    //     -webkit-transform: skew(-45deg, 0deg);
    //     -o-transform: skew(-45deg, 0deg);
    //     transform: skew(-45deg, 0deg);
    //     overflow: hidden;
    //     border-left: 1px solid #cccccc;
    //     /* border-right: 1px solid #cccccc; */
    //     // border-top: 1px solid #cccccc;
    //     height: 100px !important;
    //     display: block;
    // }
    :global {
        .ant-table-tbody>tr>td,
        .ant-table-thead>tr>th {
            height: 40px;
            white-space: nowrap;
            padding: 8px
        }
        .ant-table-header {
            &>tr>th {
                background: transparent !important;
            }
            overflow: hidden !important;
            background: transparent !important;
        }
        .ant-table-footer {
            border: 0;
            background: transparent;
        }
    }
}

.mincol {
    :global {
        .ant-table-header {
            table {
                width: auto !important;
            }
        }
    }
    table {
        min-width: auto !important;
    }
}

.higher {
    margin-top: .2rem;
    th:not(:first-child) {
        height: 150px !important;
    }
    th:not(:first-child)>span {
        left: 75px;
        height: 150px !important;
    }
}

.colorbar {
    margin: 0 .1rem;
    display: inline-block;
    width: 4rem;
    height: .14rem;
    background: linear-gradient(to right, rgb(65, 88, 140), white, rgb(219, 0, 0));
    @media screen and (max-width: 600px) {
        margin: 0 .1rem;
        width: 3rem;
        height: .15rem;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        &>div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}