.textwrapper {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: "Cinzel Decorative", cursive, sans-serif;
        position: relative;
        z-index: 4;
        color: #ffffff;
        opacity: 0;
        animation-delay: 1500ms;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
        animation-name: floating;
    }
    h2 {
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        position: relative;
        z-index: 4;
        color: #ffffff;
        opacity: 0;
        animation-duration: 1000ms;
        animation-delay: 2500ms;
        animation-fill-mode: forwards;
        animation-name: floating;
    }
    &:after {
        content: '';
        background: #a92e3d;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
        z-index: 3;
        animation-duration: 4000ms;
        animation-fill-mode: forwards;
        animation-name: fadeIn;
    }
    @media (max-width: 600px) {
        margin-top: 6rem;
    }
}

.header {
    height: 5rem;
    padding: 3rem 0.03rem;
    color: #ffffff;
    background-image: url('../../img/gplay.png');
    background-color: #a92e3d;
    @media (max-width: 600px) {
        padding: 3rem 0;
        height: 20rem;
    }
}

.container {
    padding-right: .4rem;
    padding-left: .4rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    @media (max-width: 600px) {
        padding-right: .2rem;
        padding-left: .2rem;
    }
    h1 {
        font-weight: 700;
        color: white;
        font-size: 1rem;
        font-family: "Cinzel Decorative", cursive, sans-serif;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        opacity: 0;
        animation-delay: 1500ms;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
        animation-name: floating;
        @media (max-width: 600px) {
            font-size: .8rem;
        }
    }
    h2 {
        font-family: "Roboto Slab", serif;
        margin-top: .2rem;
        color: #ffffff;
        opacity: 0;
        animation-duration: 1000ms;
        animation-delay: 2500ms;
        animation-fill-mode: forwards;
        animation-name: floating;
        @media (max-width: 600px) {
            font-size: .6rem;
        }
    }
}

@keyframes floating {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        transform: rotate(180deg);
        opacity: 0;
    }
    95% {
        transform: rotate(-15deg);
        opacity: 1;
    }
    100% {
        transform: rotate(0);
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    95% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.button {
    position: relative;
    z-index: 4;
    color: white;
    background-color: #186998;
    background-image: url('../../img/gplay.png');
    text-transform: capitalize;
    margin-top: .3rem;
    padding: .2rem .4rem;
    font-size: .3rem;
    line-height: 1.3333333;
    border-radius: 6px;
    opacity: 0;
    animation-duration: 2000ms;
    animation-delay: 3500ms;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    display: inline-block;
    transition: .3s;
    &:hover {
        color: white;
        box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.14), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.12), 0 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    }
    @media (max-width: 600px) {
        color: #a92e3d;
        background-color: white;
    }
}

.bg {
    background-image: url('../../img/vortex-min.png');
    background-size: cover;
    position: absolute;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation-timing-function: ease-in-out;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-name: rotateIn;
}

.wrapper {
    // background-image: url('http://lncar.renlab.org/imgs/vortex-min.png');
    // background-size: cover;
    position: absolute; // background-position: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100%;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    padding: .4rem calc(.4rem - 5px);
    max-width: 1200px;
    margin: .6rem auto 0 auto;
    @media (max-width: 600px) {
        display: none;
    }
    &>div {
        height: 300px;
        width: 300px;
        border: 5px solid white;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transform: scale(0);
        &>div {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            transition: .5s;
        }
        &>main {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: .5s;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-image: url('../../img/gplay.png');
            position: absolute;
            top: 0;
            h3,
            p {
                text-transform: capitalize;
                color: white;
                font-size: .25rem;
                text-align: center;
            }
            h3 {
                text-transform: uppercase;
                font-size: .4rem;
            }
        }
        &:hover {
            &>div {
                transform: scale(2)
            }
            &>main {
                opacity: .7;
            }
        }
    }
    &>div:first-child {
        animation-timing-function: ease-in-out;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        animation-name: scaleIn;
        &>main {
            background-color: #2a99c7;
        }
        &>div {
            background-image: url('../../img/gene.jpg');
        }
    }
    &>div:nth-child(2) {
        animation-timing-function: ease-in-out;
        animation-duration: 500ms;
        animation-delay: 250ms;
        animation-fill-mode: forwards;
        animation-name: scaleIn;
        &>main {
            background-color: #a92e3d;
        }
        &>div {
            background-image: url('../../img/medocs_txt.jpg');
        }
    }
    &>div:nth-child(3) {
        animation-timing-function: ease-in-out;
        animation-delay: 500ms;
        animation-duration: 500ms;
        animation-fill-mode: forwards;
        animation-name: scaleIn;
        &>main {
            background-color: #174775;
        }
        &>div {
            background-image: url('../../img/pubmedlogo.jpg');
        }
    }
}